{% extends "base.html" %}
{% block content %}
<h2>Godkendelser for {{ hold }}</h2>
<p> 
  Herunder kan i se status på jeres godkendelser. Opdater siden for at hente nyeste godkendelser.
  </p>

  <h3>Aftensmad</h3>
<p> 
Du mødes med din gruppe senest 18.30 ved jeres skilt, og spiser aftensmad.
</p>
<h3>Effektiviserings task force</h3>
<p> 
Fra 18.45 kan man få godkendelser blot ved at møde op.
</p>
<h3>Biosecutiry</h3>
<p> 
  Når i er færdige med at spise, og har fået de sidste godkendelser, kan i gå igennem biosecurity
  </p>
<p> 
Vær opmærksom på at det ikke er tilladt at tage madvarer med gennem biosecurity. Spis derfor aftensmad samlet med din gruppe (alle fire hold) inden.
</p>

<ul>
    <table class="table">
      <tr>
          <th>Navn</th>
          <th>Status</th>
      </tr>
      {% for godkendelse in godkendelser %}
      <tr>
        <td>{{ godkendelse.Opgave }}</td>
        <td>{{ godkendelse.status }}</td>
      </tr>
      {% endfor %}
  </table>
</ul>

<h3>Aftensmad</h3>
<p> 
Du mødes med din gruppe senest 18.30 ved jeres skilt, og spiser aftensmad.
</p>
<h3>Effektiviserings task force</h3>
<p> 
Fra 18.45 kan man få godkendelser blot ved at møde op.
</p>
<h3>Biosecutiry</h3>
<p> 
  Når i er færdige med at spise, og har fået de sidste godkendelser, kan i gå igennem biosecurity
  </p>
<p> 
Vær opmærksom på at det ikke er tilladt at tage madvarer med gennem biosecurity. Spis derfor aftensmad samlet med din gruppe (alle fire hold) inden.
</p>
{% endblock %}